body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    position: relative; /* Thêm vào để định vị video toàn màn hình */
}

.full-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagination {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

.dot.active {
    background-color: black;
    width: 20px; /* Chiều ngang lớn hơn */
    border-radius: 10px; /* Để dot active có dạng hình ellipse */
}

/* Styles for the popup */
.popup {
    display: block;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1000;
    max-height: 90vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease, bottom 1s ease;
}
.popup.active {
    display: block;
    opacity: 1;
    bottom: 0%;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 1s ease;
}
.popup-overlay.active {
    display: block;
    opacity: 1;
}

img.img-popup {
    width: 100%;
}

/* Center button in section */
.section #open-popup-btn {
    position: relative;
    z-index: 1; /* Ensure the button is above the video */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: to make the button more visible */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Apple-like button styles with scale effect */
.apple-button {
    display: inline-block;
    background-color: #0071e3; /* Apple blue color */
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.apple-button:hover {
    background-color: #005bb5;
    transform: scale(1.05); /* Scale up on hover */
}

.apple-button:active {
    background-color: #004494;
}


